:root {
  --background: #F4EFFA;  /* Light background color */
  --border: #2F184B;      /* Dark border color */
  --button: #532B88;      /* Button color */
  --navbar: #9B72CF;      /* Navbar color */
  --card: #C8B1E4;        /* Card color */
  --text: #2F184B;        /* Dark text color for contrast */
}
